.container {
    background: #3d4e72; /* Old browsers */
    background: -moz-linear-gradient(top, #3d4e72 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3d4e72 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    color: white;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    width: 250px;
}

.forecast {
    height: 330px;
    padding: 20px;
    position: relative;
}

.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
    bottom: 200px;
    height: 69px;
    position: absolute;
    width: 1px;

    animation: rain .63s linear infinite;
}

/* MAKE IT RAIN */
@keyframes rain {
    to {
        margin-top: 900px;
    }
}
